:root {
    --bg-color: #000000;
}

@font-face {
    font-family: 'Chalkduster';
    src: url('fonts/YsabeauInfant.ttf') format('truetype');


}
@font-face {
    font-family: 'YsabeauInfant';
    src: url('fonts/YsabeauInfant.ttf') format('truetype');


}

.body {
    
}

.control {
    padding: 15px;
    background: #EBEBEB;
}

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fab:hover {
    background-color: #0069d9;
}

.my-header-title {
    font-family: 'Chalkduster';
}

.my-header-subtitle {
    font-family: 'YsabeauInfant';

}